/* memo breakpoint
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
*/

:root {
    --color-darkblue: #2c3e50;
    --color-green: #1abc9c;
    --color-blue: #3a546d;
}



/* DEBUG +++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.debug-container {
    border: 1px dashed red;
}
/* DEBUG +++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.section {
    padding: 2rem 0rem;
}




.avatar-img {
    width: 150px;
}

.bar {
    width: 100px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

.btn.btn-success {
    background-color: var(--color-green);
    border-color: var(--color-green);
}

.btn.btn-success:hover {
    background-color: #2cf7ce;
    color: var(--color-darkblue);
}

.text-white {
    color: white;
}

.card-about {
    background-color: transparent;
}

.footer-link {
    text-decoration: none;
    color: var(--color-green);
}

.footer-link:hover {
    color: var(--color-green);
    text-decoration: underline;
}





/* classi variabili di root */
.color-darkblue {
    background-color: var(--color-darkblue);
}

.color-green {
    background-color: var(--color-green);
}

.color-blue {
    background-color: var(--color-blue);
}
