/* memo breakpoint
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
*/

:root {
    --bs-primary: #1abc9c;
    --bs-primary-rgb: 26,188,156;

    --bs-secondary: #3a546d;
    --bs-secondary-rgb: 58,84,109;

    --bs-dark: #2c3e50;
    --bs-dark-rgb: 44,62,80;

}


header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}


ul li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
}

.menu-list:hover a {
    color: var(--bs-primary);
    text-decoration: underline;
}

.avatar-img {
    height: 250px;
}

.bar {
    width: 100px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

.bar-black {
    background-color: black;
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn.btn-primary:hover {
    background-color: #13947a;
    border-color: #1abc9c;
}

.btn-primary:focus:active {
    box-shadow: 0 0 0 0.25rem rgb(26 188 156 / 50%);
    background-color:#13947a;
    border-color: #13947a;
}

.card-portfolio {
    overflow: hidden;
    border-radius: 10px;
    border: none;
    margin: 1rem 0rem;
}

.card-portfolio:hover {
    box-shadow: 0 0 0 0.25rem rgb(26 188 156 / 50%);
    animation: shake 1s infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px);
        transform: rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px);
        transform: rotate(1deg);
    }

    60% {
        transform: translate(-3px, 1px);
        transform: rotate(0deg);
    }

    80% {
        transform: translate(-1px, -1px);
        transform: rotate(1deg);
    }

    100% {
        transform: translate(1px, -2px);
        transform: rotate(-1deg);
    }
}

.card-about {
    background-color: transparent;
    margin: 1rem 0rem;
}

.footer-link {
    text-decoration: none;
    color: var(--bs-primary);
}

.footer-link:hover {
    color: var(--bs-primary);
    text-decoration: underline;
}

.round {
    width: 50px;
    line-height: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

.footer-icons-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-icons {
    width: 250px;
}

.link-icon {
    color: white;
}

.round:hover .link-icon{
    color: var(--bs-primary);
}

.round:hover{
    border-color: var(--bs-primary);
    transform: scale(1.1);
    color: var(--bs-primary);
}

.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.form-control:active  {
    color: var(--bs-primary);
    background-color: #fff;
    border-color: var(--bs-primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(26 188 156 / 50%);
    border-radius: .25rem;
}

.form-control:focus {
    color: var(--bs-primary);
    background-color: #fff;
    border-color: var(--bs-primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(26 188 156 / 50%);
    border-radius: .25rem;
}

.form-floating>label {
    padding: .5rem .75rem;
}
